<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dice 1000</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
		<script src="lib/angular.min.js"></script>
		<script src="lib/ui-bootstrap-tpls-0.13.3.min.js"></script>
		<script src="lib/jquery-1.11.3.min.js"></script>
	</head>
	<body>
		<div ng-app="dice" ng-controller="GameCopntroller" style="width: 600px; margin: 0 auto"> 
			<div ng-bind="warning" ng-hide="warning == ''" class="alert alert-danger" role="alert"></div>
			<table class="table">
				<thead style="font-weight: bold" ng-hide="players.length == 0">
					<tr>
						<td></td>
						<td>Player</td>
						<td>Points</td>
						<td>Change</td>
						<td>Progress</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in players">
						<td>
							<span ng-if="x.won == true" class="glyphicon glyphicon-star" aria-hidden="true"></span>
							<span ng-if="players[currentPlayerIndex] == x" class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
						</td>
						<td>{{ x.name }}</td>
						<td>{{ x.points }}</td>
						<td ng-class="{ red: x.lastPointChange < 0, blue: x.lastPointChange == 0, green: x.lastPointChange > 0 }">{{ x.lastPointChange }}</td>
						<td style="width: 100%">
							<progress class="oneStepZonesProgressBarBackground"><bar animate="false" class="oneStepZonesProgressBarForeground" value="x.points/10"></bar></progress>
						</td>
					</tr>
				</tbody>
			</table>
			<div ng-hide="stage != 'playing'">
				<input type="text" ng-model="newPoints">
				<button ng-click="addPoints()" class="btn btn-primary">Add points</button>
			</div>
			<div ng-hide="stage != 'adding_players'">
				Name of new player: <input type="text" ng-model="newPlayerName">
				<button ng-click="addNewPlayer()" class="btn btn-primary">Add</button>
				<button ng-click="startGame()" ng-hide="players.length < 2" class="btn btn-success">Start the game!</button>
			</div>
		</div>
		<script src="lib/bootstrap-3.3.5/bootstrap.min.js"></script>
	</body>
	<script src="js/controller.js"></script>
</html> 