<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Kości - 1000</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<script src="lib/angular.min.js"></script>
		<script src="lib/ui-bootstrap-tpls-0.13.3.min.js"></script>
		<script src="lib/jquery-1.11.3.min.js"></script>
	</head>
	<body>
		<div ng-app="dice" ng-controller="GameCopntroller"> 
			<div ng-bind="warning"></div>
			<table>
			  <tr ng-repeat="x in players">
				<td>
					<span ng-if="players[currentPlayerIndex] == x">&gt;</span>
				</td>
				<td>{{ x.name }}</td>
				<td>{{ x.lastPointChange }}</td>
				<td style="width: 400px">
					<progress><bar animate="false" value="x.points/10"></bar></progress>
				</td>
			  </tr>
			</table>
			<div ng-hide="hidePointsPrompt">
				<input type="text" ng-model="newPoints">
				<button ng-click="addPoints()">Add points</button>
			</div>
			<div ng-hide="hideNewPlayerPrompt">
				Name of new player: <input type="text" ng-model="newPlayerName">
				<button ng-click="addNewPlayer()">Add</button>
				<button ng-click="startGame()">Done</button>
			</div>
		</div>
		<script src="lib/bootstrap-3.3.5/bootstrap.min.js"></script>
	</body>
	<script src="js/controller.js"></script>
</html> 